@using Mvc.Models.Constants
@model List<FacilSelectViewModel>

<div class="facil-selector">
    <select id="FacilDropdown" name="SelectedFacilNo" class="form-select">
        @* value="@Model.FirstOrDefault(f => f.IsSelected)?.FacilNo" *@
        <option value="">Pick one</option>
        @foreach (var facil in Model)
        {
            <option value="@facil.FacilNo @(facil.IsSelected ? "selected" : "")">
                @facil.FacilName
            </option>
        }
    </select>
</div>

@* <input type="hidden" id="SelectedFacilNo" name="SelectedFacilNo" value="@Model.FirstOrDefault(f => f.IsSelected)?.FacilNo" /> *@
